@import url('https://fonts.googleapis.com/css2?family=Kaushan+Script&family=Radio+Canada:wght@300&display=swap');

body {
    font-family: 'Radio Canada', sans-serif;
    color: rgb(78, 77, 77);
    background-color: rgb(248, 248, 248);
}
/*headings and logo*/
h1, h2 {
    font-family: 'Radio Canada', sans-serif;
    text-transform: uppercase;
    letter-spacing: 4px;
    color: rgb(187, 3, 3);
}

#logo {
    float: left;
    text-decoration: none;
}
/*navbar*/
#navbar {
    height: 75px;
    background-color: rgba(7, 7, 7, 0);
}

#menu {
    text-transform: uppercase;
    color: rgb(187, 3, 3);
    font-size: 150%;
    font-weight: 300;
    letter-spacing: 3px;
}

#menu, #logo {
    line-height: 25px;
}
#menu a {
    text-decoration: none;
    color: inherit;
    float: right;
}

#menu a:hover {
    font-weight: 600;
    text-decoration: underline;
}

#menu ul {
    float: right;
}

#menu li {
    list-style-type: none;
    margin-right: 30px;
    float: left;
}

.active {
    border-bottom: 1px rgb(187, 3, 3) solid;
}
/*hero image*/
#hero-image {
    height: 600px;
    width: 100%;
    background: url(../images/pexels-andre-furtado-2931062\ \(1\).jpg) no-repeat;
}
/*scrolling text box. credit:Simple text scroller by http://roel.shoikan.nl Roël Couwenberg.*/
.card {
    position: absolute;
    background-color: #F8F8F8;
    border-radius: 1.5em;
    padding: 2.6em 3.8em;
    cursor: pointer;
    top: 22%;
    transform: translate(-50%, -50%);
    left: 80%;
    box-shadow: 0 4px 4px rgba(0, 0, 0, 0.1), 
      0 8px 8px rgba(0, 0, 0, 0.1),
      0 16px 16px rgba(0, 0, 0, 0.1), 
      0 32px 32px rgba(0, 0, 0, 0.15),
      0 64px 64px rgba(0, 0, 0, 0.15);
}

.card h1 {
    font-family: 'Radio Canada', sans-serif;
    text-transform: uppercase;
    color: rgb(32, 32, 32);
}

.scroller {
    height: 1.2em;
    line-height: 1.2em;
    position: relative;
    overflow: hidden;
    width: 10em;
}

.scroller > span {
    position: absolute;
    top: 0;
    animation: slide 10s infinite;
    font-weight: bold;
    
}

@keyframes slide {
  0% {
    top: 0;
  }
  25% {
    top: -1.2em;
  }
  50% {
    top: -2.4em;
  }
  75% {
    top: -3.6em;
  }
}
/*destinations*/
/* #destinations{
    
    text-align: center;
    vertical-align: text-bottom;
    font-size: 150%;
}

#destinations-scroll{
    background-color: rgba(248, 248, 248, 0.911);
    scroll-snap-type: x mandatory;
    border: 2px rgb(187, 3, 3) solid;
}

#destinations-scroll div{
    font-size: 110%;
    text-transform: none;
    vertical-align: text-bottom;
    border: 1px rgb(187, 3, 3) solid;
    border-radius: 50px;
    padding: 2px;
    box-shadow: 0 4px 4px rgba(0, 0, 0, 0.1), 
      0 8px 8px rgba(0, 0, 0, 0.1),
      0 16px 16px rgba(0, 0, 0, 0.1), 
      0 32px 32px rgba(0, 0, 0, 0.15),
      0 64px 64px rgba(0, 0, 0, 0.15);
    display: inline-block;
    float: left;
}
*/
#destinations {
    text-align: center;
    padding-top: 20px;
    padding-bottom: 20px;
}
/*
#destinations-scroll{
    position: relative;
}

#kelowna{
    height: 300px;
    width: 33%;
    background: url(../images/kolby-milton-3g10gbSdCPI-unsplash\ \(1\).jpg) center center no-repeat;
    position: absolute;
    border: 1px solid black;
    text-align: center;
    float: left;
    display: inline-block;
    box-shadow: 0 4px 4px rgba(0, 0, 0, 0.1), 
      0 8px 8px rgba(0, 0, 0, 0.1),
      0 16px 16px rgba(0, 0, 0, 0.1), 
      0 32px 32px rgba(0, 0, 0, 0.15),
      0 64px 64px rgba(0, 0, 0, 0.15);
    padding-top: 20px;
}

#destinations-text {
    position: relative;
    background-color: rgb(252, 155, 29);
    align-self: flex-end;
    font-size: 75%;
    width: 100%;
}

#destinations-text h3 {
    text-transform: uppercase;
}

#banff{
    height: 300px;
    width: 33%;
    background: url(../images/louis-paulin-4Q10JVnBhr4-unsplash\ \(2\).jpg) center center no-repeat;
    position: absolute;
    border: 1px solid black;
    text-align: center;
    float: center;
    display: inline-block;
    box-shadow: 0 4px 4px rgba(0, 0, 0, 0.1), 
      0 8px 8px rgba(0, 0, 0, 0.1),
      0 16px 16px rgba(0, 0, 0, 0.1), 
      0 32px 32px rgba(0, 0, 0, 0.15),
      0 64px 64px rgba(0, 0, 0, 0.15);
    padding-top: 20px;
}
*/

.destinations {
    border-radius: 50%;
    width: 300px;
    height: 300px;
}

.towns{
    padding-top: 50px;
    width: 25%;
    height: 500px;
    float: left;
}

/*about section*/
#about {
    float: left;
    width: 100%;
    background-color: rgb(187, 3, 3) ;
}
#about-text {
    width: 45%;
    float: left;
    background-color: rgb(187, 3, 3);
    color: #F8F8F8;
    line-height: 33px;
    padding-top: 75px;
    padding-left: 10px;
    padding-bottom: 13px;
    margin-left: 1%;
    text-align: center;
}

#about-text h1 {
    color: #F8F8F8;
}

#about-text a {
    color: #F8F8F8;
}
#about-image {
    background-image: url(../images/luca-bravo-O453M2Liufs-unsplash.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    width: 40%;
    height: 350px;
    float: right;
}

footer {
    height: 150px;
}

.social-networks {
    text-align: center;
}

.social-networks > li {
    display: inline;
}

.social-networks i {
    font-size: 160%;
    margin: 1%;
    padding: 5%;
    color: rgb(187, 3, 3);
}